@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*,*::before,*::after
{
    box-sizing: inherit;
}
.experience__section
{
    display: flex;
    justify-content: space-evenly;
}